<p>
    <%= @blogtext.title %> 
</p>
<p>
    <%= @blogtext.content %>
</p>
<p>
    <%= @user.name %>
</p>

<% if Like.find_by(user_id: @current_user.id, post_id: @blogtext.id) %>
    <%= link_to("/likes/#{@blogtext.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
<% else %>
    <%= link_to("/likes/#{@blogtext.id}/favorite", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
    <% end %>
<% end %>

<% if @user.id == @current_user.id %>
    <p>
        <%= link_to("消去", "/blogtexts/#{@blogtext.id}/destroy", {method: "post"}) %>
    </p>
<% end %>


