<h2><%= @user.name %></h2>

<% if @user.id == @current_user.id then %>
    aaaaa
<% elsif Relationship.find_by(follower_id: @user.id, followed_id: @current_user.id) then %>
    <%= link_to("フォロー解除", "/users/un_follow") %>
<% else %>
    <%= link_to("フォローする", "/users/follow") %>
<% end %>


<% if @user.id == @current_user.id %>
    <p><%= @user.email %></p>
    <%= link_to("編集", "/users/#{@user.id}/edit") %>
<% end %>

<p>following</p>
<%= link_to(@user.followings.count, "/users/#{@user.id}/followings") %>
<p>followers</p>
<%= link_to(@user.followers.count, "/users/#{@user.id}/followers") %>

<ul>
    <li><%= link_to("投稿一覧", "/users/#{@user.id}") %></li>
    <li><%= link_to("いいね一覧", "/users/#{@user.id}/likes") %></li>
</ul>

<p>投稿一覧</p>
<% @user.blogtexts.each do |blogtext| %>
    <%= link_to(blogtext.title, "/blogtexts/#{blogtext.id}") %>
<% end %>