<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Blog", "/") %>

      </div>
      <ul class="header-menu">
        <li>
          <%= link_to("home", "/statics_pages/home") %>
        </li>
        <li>
          <%= link_to("help", "/statics_pages/help") %>
        </li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
